*.mmo
*.mml
*~
.idea/
Volume 4/7.2.2.2/.idea/7.2.2.2.iml
Volume 4/7.2.2.2/.idea/misc.xml
Volume 4/7.2.2.2/.idea/workspace.xml
Volume 4/7.2.2.2/Main.spec
Volume 4/7.2.2.2/__pycache__/
Volume 4/7.2.2.2/build/
Volume 4/7.2.2.2/dist/
curiosities/t10k-images.idx3-ubyte
curiosities/t10k-labels.idx1-ubyte
curiosities/train-images.idx3-ubyte
curiosities/train-labels.idx1-ubyte
Volume 3/5/words_alpha.txt
Volume 3/SortUtils/__pycache__/